html
    head
        title= title
        link(rel="stylesheet", href="css/bootstrap.min.css")
        link(rel="stylesheet", href="font/bootstrap-icons.css")
        link(rel="preconnect", href="https://fonts.googleapis.com")
        link(rel="preconnect", href="https://fonts.gstatic.com" crossorigin)
        link(href="https://fonts.googleapis.com/css2?family=Oswald&display=swap", rel="stylesheet")
        link(rel='stylesheet', type='text/css', href='custom.css') 
    body 
        h1= message
        div(class="container-fluid")
            - var n = 0;
            while n < data.length
                if n % 8 == 0
                    div(class="row row-"+row++)                    
                        - for (var i=0; i<8; i++)                            
                            div(class="col-sm")
                                if i+n < data.length
                                    - el = data[i+n]
                                    div(class="card")
                                        div(class="card-body in-work")
                                            h5(class="card-title")= el.title
                                            i(class="bi "+el.icon)
                                            button(type="button" class="btn btn-primary stretched-link" data-toggle="modal" data-target="#ModalLong" data-element=el) Learn
                - n++

        div(class="modal fade" id="ModalLong" tabindex="-1" role="dialog" aria-labelledby="ModalLongTitle" aria-hidden="true")
            div(class="modal-dialog" role="document")
                div(class="modal-content")
                    div(class="modal-header")
                        h5(class="modal-title" id="ModalLongTitle")= "Modal title"
                        button(type="button" class="close" data-dismiss="modal" aria-label="Close")
                            span(aria-hidden="true") &times;
                    div(class="modal-body")
                        p(class="modal-text")
                        ul(class="modal-list")
                    div(class="modal-footer")
                        button(type="button" class="btn btn-secondary" data-dismiss="modal") Close

        script(src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous")
        script(src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous")
        script(src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous")
        script(src="modal.js")